/build/
/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
.idea/
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
*.keystore
*.jks
.env